body{
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;

  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

p,
label,
input,
div,
button{
  color: #556f78; /*purple*/
  margin: 0px;
  padding: 0px;

  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.logo{
  height: 45px;
}

/* from 0px to 320px */
@media (max-width: 320px){
  p,
  label,
  input,
  div,
  button{
    font-size: 18px;
  }
}

/* from 720px to infinity */
@media (min-width: 720px){
  p,
  label,
  input,
  div,
  button{
    font-size: 25px;
  }

  .logo{
    height: 55px;
  }
}
