body{
  background-color: #151b29;
}

.body_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page_border_bottom{
  position: fixed;
  bottom: 0;
  
  width: 100%;
  height: 3px; 

  background-color: rgb(0, 128, 53);
  box-shadow: 0 -3px 10px rgb(0, 128, 53);

  z-index: 1;
}

.form_container{
  position: relative;
  background-color: #0e121c;
  width: 450px;
  height: 600px;

  border-radius: 5px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form_head_border,
.form_foot_border{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;

  background-image: linear-gradient(to left, rgb(0, 128, 53), #0e121c);
  height: 25px;
}

.form_head_border{
  top: 0;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 3px 10px rgb(0, 128, 53);
}

.form_foot_border{
  bottom: 0;
  height: 12px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 -3px 10px rgb(0, 128, 53);
}

.form_information{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5px;
}

.logo_name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.logo_name p{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}


.form_description{
  color: #485b64;
  font-size: 12px;
  font-weight: 600;
  text-align: center;

}

.form_description span{
  font-style: italic;
}

.form_username,
.form_password,
.form_email{
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.form_input{
  padding: 0px 10px;
  height: 48px;
  color: #485b64;

  font-size: 18px;
  background: #151b29;
  border: none;
  box-shadow: inset 0px -2px 5px black;

  border-radius: 2px;
}

.form_input::placeholder{
  color: #29353b;
}

.form_password_layout{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}

.form_password_img{
  position: relative;       
}

.form_password_img:hover .form_password_req,
.form_password_img:active .form_password_req{
  opacity: 1;
  visibility: visible;
  
}

.form_password_img img{
  width: 16px;
  cursor: pointer;
}

.form_password_req{
  position: absolute;
  top: -360%;
  left: 0;
  z-index: 10;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.15s;
}

.form_password_req_layout{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 5px;
  width: max-content;
  
  padding: 8px;
  border-radius: 3px;

  background-color: #556F78;
}

.form_password_req_layout p{
  color: #151B29;
  font-size: 15px;
}

.form_forgot_password{
  font-size: 15px;
  color: rgba(0, 128, 53, 0.664);
}

.form_forgot_password:hover{
  color: rgb(0, 128, 53);
}

.form_forgot_password:active{
  color: purple;
}

.form_submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
}

.form_submit a{
  font-size: 15px;
  color: rgba(0, 128, 53, 0.664);
}

.form_submit a:hover{
  color: rgb(0, 128, 53);
}

.form_submit a:active{
  color: purple;
}

.form_submit input{
  background-color: rgb(0, 128, 53);
  width: 100%;

  border: none;
  border-radius: 2px;
  padding: 7px 0px;

  color: white;

  cursor: pointer;
}

.form_submit input:hover{
  background-color: rgb(0, 103, 43);
  color: rgb(220, 220, 220);
}

.form_submit input:active{
  opacity: 70%;
}

/* from 0px to 320px */
@media (min-width: 320px){
  .form_container{
    width: 300px;
  }

  .form_information{
    width: 250px;
  }
}

/* from 720px to infinity */
@media (min-width: 720px){
  .form_container{
    width: 500px;
    height: 680px;
  }

  .form_information{
    width: 400px;
    gap: 35px;
  }

  .form_input{
    font-size: 20px;
  }

  .logo_name p{
    font-size: 60px;
  }

  .form_description{
    font-size: 16px;
  }

}